In [3]:
#importing the necessary modules
import numpy as np
import pandas as pd
import preprocessor as p #library for tweet preprocessing

In [4]:
#reading the training data from csv file
train_data = pd.read_csv("dataset/train.csv")
print(train_data.shape)
train_data.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
#reading the test data from csv file
test_data = pd.read_csv("dataset/test.csv")
print(test_data.shape)
test_data.head()

(3263, 4)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
print("Missing/Null values in train data")
train_data.isnull().sum()

Missing/Null values in train data

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [15]:
print("Missing/Null values in test data")
test_data.isnull().sum()

Missing/Null values in test data

id             0
keyword       26
location    1105
text           0
dtype: int64

In [36]:
#% of missing values in train data
train_missing_perc = train_data.isnull().sum()*100/(train_data.shape[0])
print("% of missing values in train data \n\n", train_missing_perc)
print()
#% of missing values in test data
test_missing_perc = test_data.isnull().sum()*100/(test_data.shape[0])
print("% of missing values in train data \n\n", test_missing_perc)

% of missing values in train data

 id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

% of missing values in train data

 id           0.000000
keyword      0.796813
location    33.864542
text         0.000000
dtype: float64