In [1]:
#importing the necessary modules
import numpy as np
import pandas as pd
import preprocessor as p #library for tweet preprocessing

In [2]:
#reading the training data from csv file
train_data = pd.read_csv("dataset/train.csv")
print(train_data.shape)
train_data.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
#reading the test data from csv file
test_data = pd.read_csv("dataset/test.csv")
print(test_data.shape)
test_data.head()

(3263, 4)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
print("Missing/Null values in train data")
train_data.isnull().sum()

Missing/Null values in train data

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [5]:
print("Missing/Null values in test data")
test_data.isnull().sum()

Missing/Null values in test data

id             0
keyword       26
location    1105
text           0
dtype: int64

In [6]:
#% of missing values in train data
train_missing_perc = train_data.isnull().sum()*100/(train_data.shape[0])
print("% of missing values in train data \n\n", train_missing_perc)
print()
#% of missing values in test data
test_missing_perc = test_data.isnull().sum()*100/(test_data.shape[0])
print("% of missing values in train data \n\n", test_missing_perc)

% of missing values in train data

 id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

% of missing values in train data

 id           0.000000
keyword      0.796813
location    33.864542
text         0.000000
dtype: float64

In [7]:
#creating the copy of dataset for exploratory data analysis

train_set = train_data.copy()
test_set = test_data.copy()

In [17]:
# parse_train = p.parse(train_set['text'][0])
# print(parse_train.urls)

In [15]:
url = [0]*train_set.shape[0]           #list for adding url column in dataset
hashtag = [0]*train_set.shape[0]       #list for adding hashtag column in dataset

for tweets in range(len(train_set['text'])):
    parse_tweet = p.parse(train_set['text'][tweets])      #parsing text buffer
    if parse_tweet.urls == None: 
        url[tweets] = None                                #picking urls and adding to url list
    else: 
        url[tweets] = parse_tweet.urls[0].match           
    if parse_tweet.hashtags == None: 
        hashtag[tweets] = None                            #picking hashtags and adding to hashtag list
    else: 
        hashtag[tweets] = parse_tweet.hashtags[0].match
# print(url)
# print(hashtag)
# train_set = train_set.drop(['url','hashtag'],axis =1)

In [20]:
# train_set.insert(train_set.shape[1]-1,'url',url)          #adding url list as a column in dataframe
# train_set.insert(train_set.shape[1]-1,'hashtag',hashtag)  #adding hashtag list as a column in dataframe
train_set

,id,keyword,location,text,url,hashtag,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,None,#earthquake,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,None,None,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,None,None,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",None,#wildfires,1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,None,#Alaska,1
...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,http://t.co/STfMbbZFB5,None,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,None,None,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,http://t.co/zDtoyd8EbJ,None,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,None,None,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,http://t.co/YmY4rSkQ3d,None,1

In [22]:
# train_set.to_csv('dataset/train_preprocess_01.csv',index=False)