In [20]:
import pandas as pd
import preprocessor as p
p.set_options(p.OPT.URL, p.OPT.EMOJI,p.OPT.MENTION,p.OPT.SMILEY)

In [21]:
df = pd.read_csv('../datasets/train.csv',encoding='utf-8-sig')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [22]:
# df.apply(lambda x: x.count(), axis=0)

df.isnull().sum(axis=0)

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [23]:
clean_text = []
for text in df['text'].tolist():
    clean_text.append(p.clean(text))

In [24]:
df['keyword'].fillna('nolocation', inplace = True)

In [26]:
df.isnull().sum(axis=0)

id             0
keyword        0
location    2533
text           0
target         0
dtype: int64

In [31]:
df_1 = df.drop(['location'],axis=1)
df_1.head()

   id     keyword                                               text  target
0   1  nolocation  Our Deeds are the Reason of this #earthquake M...       1
1   4  nolocation             Forest fire near La Ronge Sask. Canada       1
2   5  nolocation  All residents asked to 'shelter in place' are ...       1
3   6  nolocation  13,000 people receive #wildfires evacuation or...       1
4   7  nolocation  Just got sent this photo from Ruby #Alaska as ...       1